{% extends "layouts/master.html.twig" %}

{% block header %}

    <!-- kaj od toga je potrebno?? -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <link rel="stylesheet" href="public/css/main.css">

{% endblock %}

{% block content %}


<div class="container-fluid">
    {% include 'layouts/teacher-navbar.html.twig' %}
  <div class="main-wrapper">
<br/>
<!-- <div class="pdiv1">
  <h1>NAVIA</h1>
  </div>
 <div id="my-name-div" class="pdiv2"> {{ name }}</div> -->
  <br/>
  <button type="submit" class="btn btn-primary" id="btnRazlozi">Uredi razloge raspoloženja</button>
  <br/><br/>
<form method="post" action="">

  <div id="textboxdiv" class="hide">

      <div class="row">

        <div class="col-md-4 " align="center">
          <div class="alert alert-info">Pozitivni:</div>
<input class="form-control input-lg" type="text" id="tbPoz1" name="pozRazlog" placeholder="Upiši razlog"/>
<button type="submit" class="btn btn-primary" id="dodajPoz">Dodaj</button>
          <div id="chart"></div>

        </div>

        <div class="col-md-4" align="center">
          <div class="alert alert-danger">Negativni: </div>
          <input class="form-control input-lg" type="text" id="tbNeg1" name="negRazlog" placeholder="Upiši razlog"/>
          <button type="submit" class="btn btn-primary" id="dodajNeg">Dodaj</button>
        </div>
      </div>
  </div>
</form>
  <hr/>
    <form method="post" action="room-create.php">
        <h5>Kreiraj novu sobu</h5> <br>
        <input name="room-name" class="form-control " required placeholder="Opis sobe"><br>
        <input name="room-token" class="form-control "placeholder="Ključ sobe (prazno -> random ključ)"><br>
        <button type="submit" class="btn btn-primary">Kreiraj</button>
    </form>
    <br><hr/><br>
    <div class="mojeSobe">
    <h5>Moje sobe</h5> <br>
    <ul>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Opis</th>
              <th scope="col">Vrijeme</th>
              <th scope="col">Statistike</th>
             <th scope="col">(de)aktivacija</th>
             <th scope="col">Brisanje</th>
            </tr>
          </thead>
          <tbody>
          {% for room in rooms %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="room.php?id={{ room.id }}">{{ room.description }}</a></td>
                <td>{{ room.time }}</td>
                <td><button class="btn btn-info"><i class="fa fa-tasks" aria-hidden="true"></i></button></td>
          <td>
<button type="submit" class="btn btn-light" id="btnActivate">Aktiviraj</button>
                                 <!--<div class="material-switch pull-right">
                                     <input id="someSwitchOptionSuccess{{loop.index}}" name="someSwitchOption001" type="checkbox"/>
                                     <label for="someSwitchOptionSuccess{{loop.index}}" class="label-success"></label>
                                 </div>-->
          </td>
          <td><button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </ul>
  </div>
</div>
</div>
</div>

{% endblock %}

{% block footer %}

<script>
$("#btnRazlozi").click(
function() {
    $("#textboxdiv").toggleClass("hide");
    }
);

$("#btnActivate").click(
function() {
  var elem = document.getElementById("btnActivate");
  if (elem.innerHTML=="Aktiviraj") elem.innerHTML = "Deaktiviraj";
  else elem.innerHTML = "Aktiviraj";
    }
);


</script>
{% endblock %}
