{% extends "layouts/master.html.twig" %}

{% block header %}

    <!-- kaj od toga je potrebno?? -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/lib/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/profesor.css"/>

{% endblock %}

{% block content %}

    <div class="container-fluid">
        {% include 'layouts/teacher-navbar.html.twig' %}
        <div class="main-wrapper">
            <br/>
            <!-- <div class="pdiv1"> <h1>NAVIA</h1> </div> <div id="my-name-div" class="pdiv2"> {{ name }}</div> -->
            <br/>
            <button type="submit" class="btn btn-primary" id="btnRazlozi">Uredi razloge raspoloženja</button>
            <br/><br/>

            <div id="textboxdiv" class="hide">

                <div class="row">

                    <div class="col-md-4 ">
                        <div class="alert alert-success" align="center">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                            Pozitivni</div>

                        <ul id="pozitivni-komentari" class="list-unstyled">

                            {% for reason in mood_reasons if reason.type == 1 %}
                                <li data-id="{{ reason.id }}" class="alert alert-success">

                                    {{ reason.reason }}

                                    {# ako postoji teacher_id onda može obrisati taj razlog #}
                                    {% if reason.teacher_id %}
                                        <button class="btn btn-default btn-sm ajaxRemoveReason btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    {% endif %}

                                </li>
                            {% endfor %}
                        </ul>

                        <div class="input-group">
                            <input class="form-control input" type="text" id="tbPoz1" name="pozRazlog" placeholder="Upiši razlog"/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary " id="dodajPoz">Dodaj</button>
                            </span>
                        </div>

                        <div id="chart"></div>

                    </div>

                    <div class="col-md-4">
                        <div class="alert alert-danger" align="center">
                            <i class="fa fa-minus-square" aria-hidden="true"></i>
                            Negativni
                        </div>
                        <ul id="negativni-komentari" class="list-unstyled">
                            {% for reason in mood_reasons if reason.type == 0 %}
                                <li data-id="{{ reason.id }}" class="alert alert-danger">
                                    {{ reason.reason }}
                                    {# ako postoji teacher_id onda može obrisati taj razlog #}
                                    {% if reason.teacher_id %}
                                        <button class="btn btn-default btn-sm ajaxRemoveReason btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>

                                        </button>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="input-group">
                            <input class="form-control input" type="text" id="tbNeg1" name="negRazlog" placeholder="Upiši razlog"/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn" id="dodajNeg">Dodaj</button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>

            <hr/>
            <form method="post" action="room-create.php">
                <h5>Kreiraj novu sobu</h5>
                <br>
                <input name="room-name" class="form-control " required="required" placeholder="Opis sobe"><br>
                <input name="room-token" class="form-control " placeholder="Ključ sobe (prazno -> random ključ)"><br>
                <button type="submit" class="btn btn-primary">Kreiraj</button>
            </form>
            <br><hr/><br>
            <div class="mojeSobe">
                <h5>Moje sobe</h5>
                <br>
                <ul>
                    <table class="table" id="teacher-rooms">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Opis</th>
                                <th scope="col">Vrijeme</th>
                                <th scope="col">Statistike</th>
                                <th scope="col">(de)aktivacija</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for room in rooms %}
                                <tr data-id="{{ room.id }}" data-activated="{{ room.active }}">
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>
                                        <a href="room.php?id={{ room.id }}">{{ room.description }}</a>
                                    </td>
                                    <td>{{ room.time }}</td>
                                    <td>
                                        <a href="statistika.php?id={{ room.id }}?">
                                            <button class="btn btn-info">
                                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-light ajaxActivateRoom">
                                            {% if room.active == 1 %}
                                                Deaktiviraj
                                            {% else %}
                                                Aktiviraj
                                            {% endif %}
                                        </button>
                                        <!--<div class="material-switch pull-right"> <input id="someSwitchOptionSuccess{{loop.index}}" name="someSwitchOption001" type="checkbox"/> <label for="someSwitchOptionSuccess{{loop.index}}" class="label-success"></label> </div>-->
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}

<script type="text/javascript" src="public/js/lib/datatables.min.js"></script>
<script src="public/js/profesor.js"></script>

{% endblock %}
