{% extends "layouts/master.html.twig" %}

{% block header %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/student.css">

{% endblock %}

{% block content %}
    <div class="container-fluid">

        {% include 'layouts/teacher-navbar.html.twig' %}

        <div id="time-range" style="width:50%;">
            <p>Time Range:
                <span id="time-start">{{ time_start }}</span>
                -
                <span id="time-end">{{ time_end }}</span></p>
            <p>Trenutno je:
                <span class="slider-time">{{ time_end }}</span></p>
            <div class="sliders_step1">
                <div id="slider-range"></div>
                <p>
                    Premotaj na kraj
                    <button>
                        <span class="glyphicon glyphicon-forward" id="end"></span></button>
                </p>
            </div>
        </div>

        <!--Div that will hold the pie chart-->
        <div id="chart_div"></div>
        <div id="test" data-is-test="{{ room.moods|json_encode }}"></div>
        <table id="proba" hidden="hidden">
            <tr>
                <th>Naziv stupca</th>
            </tr>
            {% for mood in room.moods %}
                <tr data-id="{{ mood.id }}" data-hidden="false">
                    <td>
                        {% if mood.mood_option_id == 1 %}
                            Sretno
                        {% elseif mood.mood_option_id == 2 %}
                            Neutralno
                        {% else %}
                            Tužno
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div id="razlozi">
            <div id="pozRazlozi" class="container" hidden="hidden">
                <h4 style="background:#5cb85c; font-size:20px">Raspoloženje: Sretno
                </h4>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Vrijeme</th>
                            <th>Razlog</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mood in room.moods if mood.mood_option_id == 1 %}
                            <tr data-id="{{ mood.id }}">
                                <td>
                                    {{ mood.time }}
                                </td>
                                <td>
                                    {% if mood.mood_reason_id %}
                                        {{ mood.mood_reason }}
                                    {% else %}
                                        {{ mood.personal_reason }}
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="neutrRazlozi" class="container" hidden="hidden">
                <h4 style="background:#f0ad4e; font-size:20px">Raspoloženje: Neutralno
                </h4>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Vrijeme</th>
                            <th>Razlog</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mood in room.moods if mood.mood_option_id == 2 %}
                            <tr data-id="{{ mood.id }}">
                                <td>
                                    {{ mood.time }}
                                </td>
                                <td>
                                    {% if mood.mood_reason_id %}
                                        {{ mood.mood_reason }}
                                    {% else %}
                                        {{ mood.personal_reason }}
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="negRazlozi" class="container" hidden="hidden">
                <h4 style="background:#d9534f; font-size:20px">Raspoloženje: Tužno
                </h4>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Vrijeme</th>
                            <th>Razlog</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mood in room.moods if mood.mood_option_id == 3 %}
                            <tr data-id="{{ mood.id }}">
                                <td>
                                    {{ mood.time }}
                                </td>
                                <td>
                                    {% if mood.mood_reason_id %}
                                        {{ mood.mood_reason }}
                                    {% else %}
                                        {{ mood.personal_reason }}
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        var moods_intervals = {{ moods_intervals|json_encode|raw }};
    </script>
    <script src="public/js/room-stats.js"></script>

{% endblock %}
